[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/cscope-quickfix"]
	path = bundle/cscope-quickfix
	url = https://github.com/vim-scripts/cscope-quickfix.git
[submodule "bundle/cvim"]
	path = bundle/cvim
	url = https://github.com/HenningM/cvim-pathogen.git
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/autoload-cscope"]
	path = bundle/autoload-cscope
	url = https://github.com/vim-scripts/autoload_cscope.vim
